
body{
    /* background-color: aqua: */

}
#left {
    display: inline-block;
    width : 40%;
}
#right {
    display: inline-block;
    width: 40%;
}
img{
    width: 400px;
    margin-left: 210px;
    height:320px;
    border-radius: 50px 50px 50px 50px;
    
}
#hero-section {
    margin-left: 10px;
    background-image: url(../image/pexels-lumn-295771\ \(3\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
p {
    padding: 100px 50px 100px 50px;
    line-height: 25px;
    word-spacing: 2px;

}
button{
    background-color: #058a3a;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    
}
html{
    font-family: 'Courier New', Courier;
    color: black;
    margin: 10px;
}   

#nav{
    color: #080808;
    display: flex;
    justify-content: left;   

}
.nav{
    display: flex;
    margin-left: 630px;

}
li{
    list-style-type: none;
    padding: 10px;
}
h1{
    margin-left: 30px;
   align-content: center;
   padding-bottom: 10px;
   margin-bottom: 50px;
}
div{
    padding: 2px;
    margin: 2px;
}

